<div class="sidebar">
    <h2>Menú</h2>
    <ul>
        <li><a routerLink="perfil" routerLinkActive="active">Perfil</a></li>
        <li><a routerLink="editar-precio-tipo-anuncio" routerLinkActive="active">Edicion de Precios para los Tipos de Anuncios</a></li>
        <li><a routerLink="editar-precio-periodo-tiempo-anuncio" routerLinkActive="active">Edicion de Precios para los Periodos de Tiempo en los Anuncios</a></li>
        <li><a routerLink="editar-precio-revista" routerLinkActive="active">Edicion de Precios para las Revistas</a></li>
        <li><a routerLink="editar-anuncio" routerLinkActive="active">Edicion de Anuncios</a></li>
        <li><a href="#">Reporte de Ganancias</a></li>
        <li><a routerLink="reporte-compra-anuncios" routerLinkActive="active">Reporte de Anuncios Comprados</a></li>
        <li><a href="#">Reporte de las Revistas mas Populares</a></li>
        <li><a href="#">Reporte de las Revistas mas Comentadas</a></li>
        <li><a href="/" (click)="logOut()">Cerrar Sesion</a></li>
    </ul>
</div>
