<div>
    <h3>Nombre de Revista: {{revista.nombre}}</h3>
    <p>Descripcion de Revista: {{revista.descripcion}}</p>
    <p>Categoria: {{revista.categoria}}</p>
    <p>Etiquetas: {{revista.etiquetas}}</p>
    <a routerLink="perfil-editor/{{revista.idEditor}}" routerLinkActive="active">Perfil de Autor</a>
    <a routerLink="comentar/{{revista.idRevista}}" routerLinkActive="active" *ngIf="revista.puedeComentarse">Comentar</a>
    @if (revista.puedeTenerLikes) {
        @if (!revista.tieneLike) {
            <a routerLink="dar-like/{{revista.idRevista}}" routerLinkActive="active">Dar Like</a>
        } @else {
            <p>Ya le diste Like!!!</p>
        }
    }
    @for (idPublicacion of revista.idPublicaciones; track $index) {
        <a routerLink="/publicacion/{{idPublicacion}}" routerLinkActive="active" target="_blank">Ver Publicacion {{$index+1}}</a>
    }
    <hr>
</div>
