<div>
    <h3>Nombre de Revista: {{revista.nombre}}</h3>
    <p>Descripcion de Revista: {{revista.descripcion}}</p>
    <p>Categoria: {{revista.categoria}}</p>
    <p>Etiquetas: {{revista.etiquetas}}</p>
    <a href="#" target="_blank">Leer</a>                   
    <a href="#" target="_blank">Descargar</a>
    <a routerLink="perfil-editor/{{revista.idEditor}}" routerLinkActive="active">Perfil de Autor</a>
    <a routerLink="comentar/{{revista.idRevista}}" routerLinkActive="active" *ngIf="revista.puedeComentarse">Comentar</a>
    @if (revista.puedeTenerLikes) {
        @if (!revista.tieneLike) {
            <button type="button" (click)="darLike()">Dar Like</button>
        } @else {
            <p>Ya le diste Like!!!</p>
        }
    }
    <a href="#">Ver Publicaciones</a>
    <hr>
</div>
