div a {
    padding: 10px 20px;
    display: inline-block;
    background-color: darkgray;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

div {
    margin-bottom: 30px; 
}

button {
    padding: 12px 20px;
    display: inline-block;
    background-color: darkgray;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}