<div class="content">
    <p>Estos son tus Anuncios Registradas en el Sistema</p>
    @for (anuncio of anuncios; track $index) {
        @switch (anuncio.idTipoAnuncio) {
            @case (1) {
                <app-anuncio-texto [anuncio]="anuncio"></app-anuncio-texto>
            }
            @case (2) {
                <app-anuncio-texto-imagen [anuncio]="anuncio"></app-anuncio-texto-imagen>
            }
            @case (3) {
                <app-anuncio-video [anuncio]="anuncio"></app-anuncio-video>
            }
        }
    }
</div> 
