<div class="sidebar">
    <h2>Menú</h2>
    <ul>
        <li><a routerLink="compra-anuncio-texto" routerLinkActive="active">Comprar Anuncio de Texto</a></li>
        <li><a routerLink="compra-anuncio-imagen" routerLinkActive="active">Comprar Anuncio de Texto e Imagen</a></li>
        <li><a routerLink="compra-anuncio-video" routerLinkActive="active">Comprar Anuncio de Video</a></li>
        <li><a routerLink="perfil" routerLinkActive="active">Perfil</a></li>
        <li><a routerLink="recargar-credito" routerLinkActive="active">Recargar Credito</a></li>
        <li><a>Ver Anuncios Comprados</a></li>
        <li><a href="/" (click)="logOut()">Cerrar Sesion</a></li>
    </ul>
</div>
