<div class="content-body">
    <div class="form-container">
        <h2>Reporte de Revistas Comentadas</h2>
        <form [formGroup]="formulario" (ngSubmit)="hacerBusqueda()">
            <div class="input-group">
                <label for="fechaInicio">Fecha de Inicio:</label>
                <input type="date" id="fechaInicio" name="fechaInicio" formControlName="fechaInicio">
            </div>
            <div class="input-group">
                <label for="fechaFin">Fecha de Fin:</label>
                <input type="date" id="fechaFin" name="fechaFin" formControlName="fechaFin">
            </div>
            <p style="font-size: small;">Fechas Vacias: Muestran Todos los Datos</p>
            <button type="submit">Buscar</button>
        </form>
        <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
    </div>
</div>
<div class="comentarios-container" *ngIf="mostrarTabla" style="margin-left: 255px;">
    <h2 style="text-align: center;">Reporte</h2>
    <table style="width:100%;">
        @for (revista of contenidoReporte; track $index) {
            <tr style="background-color: aliceblue;">
              <th>Nombre Editor</th>
              <th>Nombre Revista</th> 
              <th>Descripcion</th>
              <th>Total de Comentarios</th>
            </tr>
            <tr>
              <td>{{revista.nombreEditor}}</td>
              <td>{{revista.nombreRevista}}</td>
              <td>{{revista.descripcion}}</td>
              <td>{{revista.cantidadComentarios}}</td>
            </tr>
            <tr>
                <th>Nombre Suscriptor Comentarista</th>
                <th colspan="2">Contenido Comentario</th> 
                <th>Fecha Suscripcion</th>
            </tr>
            @for (item of revista.nombresSuscriptores; track $index) {
                <tr>
                    <td>{{item}}</td>
                    <td colspan="2">{{revista.comentarios[$index]}}</td>
                    <td>{{revista.fechasComentarios[$index]}}</td>
                </tr>
            }
        }
    </table>
</div>
