<div class="body-component">
    <div class="form-container">
        <h1>Nueva Suscripcion</h1>
        <form [formGroup]="formulario" (ngSubmit)="suscribirse()">            
            <div class="input-group">
                <label for="fecha">Fecha de Suscripcion:</label>
                <input type="date" id="fecha" name="fecha" formControlName="fechaSuscripcion">
            </div>
            <button type="submit" [disabled]="formulario.invalid">Suscribirse</button>
        </form>
        <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
    </div>
</div>
