<div class="perfil-body">
    <div class="profile-container">
        <div class="form-container">
            <form enctype="multipart/form-data" [formGroup]="formulario" (ngSubmit)="guardarCambios()">
                <div class="input-group">
                    <img [src]="fotoSrc" alt="Foto de perfil" class="profile-img">
                    <input type="file" accept="image/*" name="imagefile" id="imageFile" formControlName="archivoFotoNueva" (change)="obtenerImagenNueva($event)">                        
                </div>
                <div class="input-group">
                    <label for="nombre">Nombre del Usuario:</label>
                    <input type="text" id="nombre" name="nombre" formControlName="nombre">
                </div>
                <div class="input-group">
                    <label for="hobbies">Hobbies del Usuario:</label>
                    <input type="text" id="hobbies" name="hobbies" formControlName="hobbies">
                </div>
                <div class="input-group">
                    <label for="temasInteres">Temas de Interes del Usuario:</label>
                    <input type="text" id="temasInteres" name="temasInteres" formControlName="temasInteres">
                </div>
                <div class="input-group">
                    <label for="descripcion">Descripcion del Usuario:</label>
                    <input type="text" id="descripcion" name="descripcion" formControlName="descripcion">
                </div>
                <div class="input-group">
                    <label for="gustos">Gustos del Usuario:</label>
                    <input type="text" id="gustos" name="gustos" formControlName="gustos">
                </div>
                <div class="input-group">
                    <label for="gustos">Nombre de Usuario:</label>
                    <input type="text" id="gustos" name="gustos" formControlName="userName">
                </div>
                <div class="input-group">
                    <label for="gustos">Contraseña:</label>
                    <input type="text" id="gustos" name="gustos" formControlName="password">
                </div>
                <button type="submit" id="contact-btn">Guardar</button>
            </form>
            <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
        </div>
    </div>
</div>
