<div class="content-revistas">
    <div>
        <h3>Nombre de Revista:</h3>
        <p>Descripcion de Revista:</p>
        <p>Likes:</p>
        <form method="POST">
            <div class="input-group">
                <label for="precio">Precio por Dia Actual: </label>
                <input type="text" id="precio" name="precio"/>
                <label for="precioGlobal">Precio Global Actual: </label>
                <input type="text" id="precioGlobal" name="precioGlobal"/>
                <button type="submit">Cambiar</button>
            </div>
        </form>
    </div>
</div>
