<div class="body-component">
    <div class="form-container">
        <h2>Nuevo Comentario</h2>
        <form [formGroup]="formulario" (ngSubmit)="comentar()">
            <div class="input-group">
                <label for="comentario">Comentario para la Revista:</label>
                <textarea id="comentario" name="comentario" formControlName="descripcion"></textarea>
            </div>
            <div class="input-group">
                <label for="fecha">Fecha de Comentario:</label>
                <input type="date" id="fecha" name="fecha" formControlName="fechaComentario">
            </div>
            <button type="submit">Crear Comentario</button>
        </form>
        <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
    </div>
</div>
