<div class="body-component">
    <div class="form-container">
        <h1>Recarga de Credito</h1>
        <form [formGroup]="formulario" (ngSubmit)="registrarBloque()">
            <div class="input-group">
                <label for="cantidad">Cantidad de Dias a Bloquear Anuncios:</label>
                <input type="text" id="cantidad" name="cantidad" formControlName="cantidadDias">
            </div>               
            <button type="submit" [disabled]="formulario.invalid">Hacer Bloqueo</button>
        </form>
        <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
    </div>
</div>
