<div class="body-component">
    <div class="form-container">
        <h1>Recarga de Credito</h1>
        <form>
            <input type="hidden" name="idUsuario">
            <div class="input-group">
                <label for="cantidad">Cantidad a Recargar:</label>
                <input type="text" id="cantidad" name="cantidad"/>
            </div>
            <div class="input-group">
                <label for="fecha">Fecha de Recarga</label>
                <input type="date" id="fecha" name="fecha"/>
            </div>                
            <button type="submit">Recargar</button>
        </form>
    </div>
</div>
