<div>
    <h2>Nombre de Revista: {{revista.nombre}}</h2>
    <p>Descripcion de Revista: {{revista.descripcion}}</p>
    <p>Categoria: {{revista.categoria}}</p>
    <p>Etiquetas: {{revista.etiquetas}}</p>
    <p>Likes: {{revista.likes}}</p>
    <p>Puede tener Comentarios: {{revista.puedeComentarse}}</p>
    <p>Puede tener Likes: {{revista.puedeTenerLikes}}</p>
    <p>Puede tener Suscripciones: {{revista.puedeSuscribirse}}</p>
    <a routerLink="/editor/home-page/editar-revista/{{revista.idRevista}}" routerLinkActive="active">Editar</a>
    <a routerLink="/editor/home-page/nueva-publicacion/{{revista.idRevista}}" routerLinkActive="active">Crear Publicacion</a>
</div>
