<div class="body-content">
    <div class="form-container">
        <h1>Nueva Publicacion</h1>
        <form enctype="multipart/form-data" [formGroup]="formulario" (ngSubmit)="registrar()">
            <div class="input-group">
                <label for="nombreRevista">Numero de Publicacion:</label>
                <input type="text" id="nombreRevista" name="nombreRevista" formControlName="numeroPublicacion">
            </div>               
            <div class="input-group">                        
                <input type="file" name="pdfFile" id="pdfFile" (change)="obtenerArchivo($event)" formControlName="pathArchivo">                        
            </div>
            <button type="submit" [disabled]="formulario.invalid">Crear Publicacion</button>
        </form>
        <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
    </div>
</div>
