<div>
    <h2>Anuncio de Texto e Imagen</h2>
    <h3>Titulo: {{anuncio.titulo}}</h3>
    <p>Contenido: {{anuncio.contenido}}</p>
    <img [src]="imagenSrc" alt="Foto de perfil" class="profile-img" width="300px" height="300px">
    <p>Vigencia en Dias: {{anuncio.vigenciaDias}}</p>
    <p>Esta Activo: {{anuncio.isActivo}}</p>
    <p>Costo: {{anuncio.precio}}</p>
    <p>Esta Vigente: {{anuncio.isVigente}}</p>
    @if (anuncio.isVigente) {
        <a routerLink="/anunciante/home-page/editar-anuncio/{{anuncio.idAnuncio}}" routerLinkActive="active">Editar</a>
    } @else {
        <button (click)="eliminarAnuncio()">Eliminar Anuncio</button>
    }
</div>
