.container {
    margin-left: 250px;
    margin-right: 250px;
    height: 100vh;
}

.sidebar {
    width: 225px;
    background-color: #e3e3e3;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 10px;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    height: calc(100% - 70px);
}

#left-sidebar {
    left: 0;
}

#right-sidebar {
    right: 0;
}