<div class="sidebar">
    <ul>
        <li><a routerLink="nueva-revista" routerLinkActive="active">Crear Revista</a></li>
        <li><a routerLink="perfil" routerLinkActive="active">Perfil</a></li>
        <li><a routerLink="recargar-credito" routerLinkActive="active">Recarga de Credito</a></li>
        <li><a routerLink="revistas" routerLinkActive="active">Ver Revistas Publicadas</a></li>
        <li><a routerLink="reporte-comentarios" routerLinkActive="active">Reporte de Comentarios</a></li>
        <li><a routerLink="reporte-suscripciones" routerLinkActive="active">Reporte de Suscripciones</a></li>
        <li><a routerLink="reporte-revistas-top" routerLinkActive="active">Reporte de Revistas Top</a></li>
        <li><a href="/" (click)="logOut()">Cerrar Sesion</a></li>
    </ul>
</div>
