<div>
    <h2>Edicion de Precios para los Tipos de Anuncios</h2>
    <div class="form-container">
        <form method="POST">
            <div class="input-group">
                <label for="precio-texto">Precio para el Anuncio de Texto:</label>
                <input type="text" id="precio-texto" name="precio-texto"/>
            </div>
            <div class="input-group">
                <label for="precio-texto-imagen">Precio para el Anuncio de Texto e Imagen:</label>
                <input type="text" id="precio-texto-imagen" name="precio-texto-imagen"/>
            </div>
            <div class="input-group">
                <label for="precio-video">Precio para el Anuncio de Video</label>
                <input type="text" id="precio-video" name="precio-video"/>
            </div>
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>
