<div class="body-component">
    <div class="profile-container">
        <h1>Perfil del Autor</h1>
        <div class="form-container">
            <div class="input-group">
                <p>Foto de Perfil</p>
                <img [src]="fotoSrc" alt="Foto de perfil" class="profile-img">
            </div>
            <div class="input-group">
                <p>Nombre del Autor</p>
                <input type="text" id="nombre" name="nombre" value="{{perfilEditor.nombre}}" disabled/>
            </div>
            <div class="input-group">
                <p>Hobbies del Autor</p>
                <input type="text" id="hobbies" name="hobbies" value="{{perfilEditor.hobbies}}" disabled/>
            </div>
            <div class="input-group">
                <p>Temas de Interes del Autor</p>
                <input type="text" id="temasInteres" name="temasInteres" value="{{perfilEditor.temasInteres}}" disabled/>
            </div>
            <div class="input-group">
                <p>Descripcion del Autor</p>
                <input type="text" id="descripcion" name="descripcion" value="{{perfilEditor.descripcion}}" disabled/>
            </div>
            <div class="input-group">
                <p>Gustos del Autor</p>
                <input type="text" id="gustos" name="gustos" value="{{perfilEditor.gustos}}" disabled/>
            </div>
        </div>
    </div>
</div>
