<div class="body-component">
    <div class="login-container">
        <h2>Registrar Usuario</h2>
        <form id="loginForm" [formGroup]="formulario" enctype="multipart/form-data" (ngSubmit)="registrar()">
            <div class="input-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" formControlName="userName" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" formControlName="password" required>
            </div>
            <div class="input-group">
                <label for="usertype">Tipo de Usuario</label>
                <select id="usertype" name="usertype" formControlName="tipoUsuario">
                    <option value="editor">EDITOR</option>
                    <option value="suscriptor">SUSCRIPTOR</option>
                    <option value="inversionista">INVERSIONISTA</option>
                    <option value="administrador_sistema">ADMINISTRADOR</option>
                </select>
            </div>
            <div class="input-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" formControlName="nombre" required>
            </div>
            <div class="input-group">
                <label for="imageFile">Foto de Perfil</label>                    
                <input type="file" accept="image/*" name="imageFile" id="imageFile" formControlName="archivoFoto" (change)="obtenerImagen($event)">                        
            </div>
            <button type="submit" [disabled]="formulario.invalid">Registrar</button>
            <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
        </form>
    </div>
</div>