<div class="body-component">
    <div class="form-container">
        <h1>Edicion de Revista</h1>
        <form [formGroup]="formulario" (ngSubmit)="editarRevista()">                
            <input type="hidden" name="idRevista">
            <div class="input-group">
                <label for="nombreRevista">Nombre de la Revista:</label>
                <input type="text" id="nombreRevista" name="nombreRevista" formControlName="nombre">
            </div>
            <div class="input-group">
                <label for="descripcionRevista">Descripcion de la Revista:</label>
                <textarea id="descripcionRevista" name="descripcionRevista" formControlName="descripcion"></textarea>
            </div>
            <div class="input-group">
                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria" formControlName="categoria">
                    <option value="SOFTWARE">SOFTWARE</option>
                    <option value="IA">IA</option>
                    <option value="TENDENCIAS_DE_MODA">TENDENCIAS DE MODA</option>
                    <option value="BELLEZA">BELLEZA</option>
                    <option value="ACCESORIOS">ACCESORIOS</option>
                    <option value="NUTRICION">NUTRICION</option>
                    <option value="EJERCICIO">EJERCICIO</option>
                    <option value="SALUD_MENTAL">SALUD MENTAL</option>
                    <option value="MEDICINA_ALTERNATIVA">MEDICINA ALTERNATIVA</option>
                    <option value="PINTURA">PINTURA</option>
                    <option value="ESCULTURA">ESCULTURA</option>
                    <option value="LITERATURA">LITERATURA</option>
                    <option value="CINE">CINE</option>
                    <option value="DESTINOS_TURISTICOS">DESTINOS TURISTICOS</option>
                    <option value="GUIAS_DE_VIAJE">GUIAS DE VIAJE</option>
                    <option value="CONSEJOS_DE_VIAJES">CONSEJOS DE VIAJES</option>
                    <option value="EMPRENDIMIENTO">EMPRENDIMIENTO</option>
                    <option value="INVERSIONES">INVERSIONES</option>
                    <option value="ECONOMIA">ECONOMIA</option>
                    <option value="MARKETING">MARKETING</option>
                    <option value="DESCUBRIMIENTOS">DESCUBRIMIENTOS</option>
                    <option value="INVESTIGACIONES">INVESTIGACIONES</option>
                    <option value="EDUCACION">EDUCACION</option>
                    <option value="INNOVACION_CIENTIFICA">INNOVACION CIENTIFICA</option>
                    <option value="FUTBOL">FUTBOL</option>
                    <option value="BALONCESTO">BALONCESTO</option>
                    <option value="DEPORTES_EXTREMOS">DEPORTES EXTREMOS</option>
                    <option value="ATLETISMO">ATLETISMO</option>
                    <option value="DECORACION">DECORACION</option>                
                    <option value="JARDINERIA">JARDINERIA</option>
                    <option value="MUSICA">MUSICA</option>
                    <option value="SERIES_Y_PELICULAS">SERIES Y PELICULAS</option>
                    <option value="VIDEOJUEGOS">VIDEOJUEGOS</option>
                    <option value="CELEBRIDADES">CELEBRIDADES</option>                
                </select>
            </div>
            <div class="radio-group">
                <div>                    
                    <label for="comentario-no"><input type="checkbox" id="comentario" formControlName="puedeRecibirComentarios" (click)="cambiarEstadoComentarios()">Recibir Comentarios?</label>
                </div>
                <div>                    
                    <label for="likes-no"><input type="checkbox" id="likes" formControlName="puedeRecibirLikes" (click)="cambiarEstadoLikes()">Recibir Likes?</label>
                </div>
                <div>                    
                    <label for="suscripciones-no"><input type="checkbox" id="suscripciones" formControlName="puedeRecibirSuscripciones" (click)="cambiarEstadoSuscripciones()">Recibir Suscripciones?</label>
                </div>
            </div>
            <button type="submit">Guardar Cambios</button>
        </form>
        <div *ngIf="errorDatos"><span style="color: red;">{{ mensajeErro }}</span></div>
    </div>
</div>
