div {
    margin: 50px 0;
    padding: 10px 25px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

div a{
    padding: 10px 20px;
    display: inline-block;
    background-color: darkgray;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}