<div class="form-container">
    <h2>Busqueda de Revistas Suscritas</h2>
    <form [formGroup]="formulario" (ngSubmit)="hacerBusqueda()">
        <h3>Filtrar por Categorias</h3>
        <div class="checkbox-group">
            <label><input type="checkbox" (click)="agregarCategoria('SOFTWARE')"> SOFTWARE</label>
            <label><input type="checkbox" (click)="agregarCategoria('IA')"> IA</label>
            <label><input type="checkbox" (click)="agregarCategoria('TENDENCIAS_DE_MODA')"> TENDENCIAS DE MODA</label>
            <label><input type="checkbox" (click)="agregarCategoria('BELLEZA')"> BELLEZA</label>
            <label><input type="checkbox" (click)="agregarCategoria('ACCESORIOS')"> ACCESORIOS</label>
            <label><input type="checkbox" (click)="agregarCategoria('NUTRICION')"> NUTRICION</label>
            <label><input type="checkbox" (click)="agregarCategoria('EJERCICIO')"> EJERCICIO</label>
            <label><input type="checkbox" (click)="agregarCategoria('SALUD_MENTAL')"> SALUD MENTAL</label>
            <label><input type="checkbox" (click)="agregarCategoria('MEDICINA_ALTERNATIVA')"> MEDICINA ALTERNATIVA</label>
            <label><input type="checkbox" (click)="agregarCategoria('PINTURA')"> PINTURA</label>
            <label><input type="checkbox" (click)="agregarCategoria('ESCULTURA')"> ESCULTURA</label>
            <label><input type="checkbox" (click)="agregarCategoria('LITERATURA')"> LITERATURA</label>
            <label><input type="checkbox" (click)="agregarCategoria('CINE')"> CINE</label>
            <label><input type="checkbox" (click)="agregarCategoria('DESTINOS_TURISTICOS')"> DESTINOS TURISTICOS</label>
            <label><input type="checkbox" (click)="agregarCategoria('GUIAS_DE_VIAJE')"> GUIAS DE VIAJE</label>
            <label><input type="checkbox" (click)="agregarCategoria('CONSEJOS_DE_VIAJES')"> CONSEJOS DE VIAJES</label>
            <label><input type="checkbox" (click)="agregarCategoria('EMPRENDIMIENTO')"> EMPRENDIMIENTO</label>
            <label><input type="checkbox" (click)="agregarCategoria('INVERSIONES')"> INVERSIONES</label>
            <label><input type="checkbox" (click)="agregarCategoria('ECONOMIA')"> ECONOMIA</label>
            <label><input type="checkbox" (click)="agregarCategoria('MARKETING')"> MARKETING</label>
            <label><input type="checkbox" (click)="agregarCategoria('DESCUBRIMIENTOS')"> DESCUBRIMIENTOS</label>
            <label><input type="checkbox" (click)="agregarCategoria('INVESTIGACIONES')"> INVESTIGACIONES</label>
            <label><input type="checkbox" (click)="agregarCategoria('EDUCACION')"> EDUCACION</label>
            <label><input type="checkbox" (click)="agregarCategoria('INNOVACION_CIENTIFICA')"> INNOVACION CIENTIFICA</label>
            <label><input type="checkbox" (click)="agregarCategoria('FUTBOL')"> FUTBOL</label>
            <label><input type="checkbox" (click)="agregarCategoria('BALONCESTO')"> BALONCESTO</label>
            <label><input type="checkbox" (click)="agregarCategoria('DEPORTES_EXTREMOS')"> DEPORTES EXTREMOS</label>
            <label><input type="checkbox" (click)="agregarCategoria('ATLETISMO')"> ATLETISMO</label>                    
            <label><input type="checkbox" (click)="agregarCategoria('DECORACION')"> DECORACION</label>                    
            <label><input type="checkbox" (click)="agregarCategoria('JARDINERIA')"> JARDINERIA</label>                    
            <label><input type="checkbox" (click)="agregarCategoria('MUSICA')"> MUSICA</label>                    
            <label><input type="checkbox" (click)="agregarCategoria('SERIES_Y_PELICULAS')"> SERIES Y PELICULAS</label>                    
            <label><input type="checkbox" (click)="agregarCategoria('VIDEOJUEGOS')"> VIDEOJUEGOS</label>                    
            <label><input type="checkbox" (click)="agregarCategoria('CELEBRIDADES')"> CELEBRIDADES</label>                    
        </div>
        <h3>Filtrar por Etiquetas</h3>
        <div class="checkbox-group">
            <label><input type="checkbox" (click)="agregarEtiqueta('TECNOLOGIA')"> Tecnologi­a</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('INNOVACION')"> Innovacion</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('MODA')"> Moda</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('ESTILO_DE_VIDA')"> Estilo de Vida</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('SALUD')"> Salud</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('BIENESTAR')"> Bienestar</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('CULTURA')"> Cultura</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('ARTE')"> Arte</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('VIAJES')"> Viajes</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('TURISMO')"> Turismo</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('NEGOCIOS')"> Negocios</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('FINANZAS')"> Finanzas</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('EDUCACION')"> Educacion</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('CIENCIA')"> Ciencia</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('DEPORTES')"> Deportes</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('ENTRETENIMIENTO')"> Entretenimiento</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('MUSICA')"> Musica</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('CINE')"> Cine</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('SERIES')"> Series</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('VIDEOJUEGOS')"> Videojuegos</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('HOGAR')"> Hogar</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('JARDINERIA')"> Jardineria</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('NUTRICION')"> Nutricion</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('EJERCICIO')"> Ejercicio</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('SALUD_MENTAL')"> Salud Mental</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('BELLEZA')"> Belleza</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('ACCESORIOS')"> Accesorios</label>
            <label><input type="checkbox" (click)="agregarEtiqueta('DECORACION')"> Decoracion</label>                    
        </div>
        <button type="submit">Buscar Revistas</button>
    </form>
</div>
<div class="revistas-container" *ngIf="mostrarRevistas">
    <h2 style="text-align: center;">Revistas Suscritas</h2>
    @for (revista of revistas; track $index) {
        <app-revista [revista]="revista"></app-revista>
    }
</div>
